* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("../images/level1.jpg"); /*, url(star1.png), url(star2.png);*/
  background-size: cover;
  background-position: 0px 0px; /*, 0px 0px, 0px 0px;*/
  background-repeat: repeat-x; /*, repeat-x, repeat-x;*/
  animation: animate-background linear 10s infinite;
}
@keyframes animate-background {
  from {
    background-position: 0px 0px; /*, 0px 0px, 0px 0px;*/
  }
  to {
    background-position: -200% 0px, -1000px 0px, -500px 0px;
  }
}

.title {
  text-align: center;
}
.info-container {
  display: flex;
  justify-content: center;
}
#info {
  font-size: 30px;
  height: 150px;
}
.container {
  padding: 50px;
}
.row {
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 17px 14px 20px 8px rgba(0, 0, 0, 0.94);
  -moz-box-shadow: 17px 14px 20px 8px rgba(0, 0, 0, 0.94);
  box-shadow: 17px 14px 20px 8px rgba(0, 0, 0, 0.94);
}
.cell {
  align-items: center;
  background-color: brown;
  border: 3px solid gray;
  display: flex;
  font-size: 100px;
  height: 300px;
  justify-content: center;
}
.cell:hover {
  background-color: cyan;
  cursor: pointer;
}
.front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  background: #fc0;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  background: #80bfff;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.front-animate {
  transform: perspective(600px) rotateY(-180deg);
}
.back-animate {
  transform: perspective(600px) rotateY(0deg);
}
