* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
/*dialog*/
#dialogoverlay {
  display: none;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  width: 100%;
  z-index: 10;
}
#dialogbox {
  display: none;
  position: fixed;
  background: #000;
  border-radius: 7px;
  width: 550px;
  z-index: 10;
}
#dialogbox > div {
  background: #fff;
  margin: 8px;
}
#dialogbox > div > #dialogboxhead {
  background: #666;
  font-size: 19px;
  padding: 10px;
  color: #ccc;
}
#dialogbox > div > #dialogboxbody {
  background: #333;
  padding: 20px;
  color: #fff;
}
#dialogbox > div > #dialogboxfoot {
  background: #666;
  padding: 10px;
  text-align: right;
}

hr {
  background-color: white;
}

/*dialog end*/

.level1 {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("../images/level1.jpg");
  background-size: contain;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animate-background linear 5s infinite;
}
@keyframes animate-background {
  from {
    background-position: 0px 0px; /*, 0px 0px, 0px 0px;*/
  }
  to {
    background-position: -200% 0px;
  }
}

.title {
  text-align: center;
}
.container {
  padding: 30px;
  width: 50% !important;
}
.info-container {
  display: flex;
  justify-content: center;
}
#info {
  font-size: 30px;
  height: 150px;
}

.restart {
  background-color: olive;
  color: #fff;
  padding: 15px;
  width: 150px;
}
.restart:hover {
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 17px 14px 20px 8px rgba(0, 0, 0, 0.94);
  -moz-box-shadow: 17px 14px 20px 8px rgba(0, 0, 0, 0.94);
  box-shadow: 17px 14px 20px 8px rgba(0, 0, 0, 0.94);
}
.cell {
  align-items: center;
  background-color: brown;
  border: 3px solid gray;
  display: flex;
  font-size: 100px;
  height: 215px;
  justify-content: center;
}
.cell:hover {
  background-color: cyan;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .cell {
    height: 200px;
  }
  .level1 {
    background-size: cover;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    margin: 25px;
    padding: 25px;
  }
}
